$bg-header-footer-outer: #B25D06;
$bg-header-footer-inner: #FFA03F;
$bg-entry-song: #3BD0FF;
$bg-entry-directory: #178DB2;

.page.library {
    display: flex;
    flex-direction: column;

    .pathbar {
        display: flex;
        background-color: $bg-header-footer-inner;
        font-size: 30px;
        line-height: 36px;
        
        .breadcrumbs {
            flex: 1 1 auto;
        }

        .part::before {
            content: "▶";
            font-size: 17px;
            opacity: 0.4;
        }

        .part:first-child::before {
            content: "";
        }

        .settings-button {
            background-color: $bg-header-footer-outer;
            min-width: 50px;
            text-align: center;
        }
        .settings-button::before {
            content: "⚙";
        }
    }

    .entries {
        flex: 1 1 auto;
		overflow: auto;
    }

	.entry {
		background-color: $bg-entry-song;
		margin-bottom: 2px;
	}

    .controls {
        display: flex;

        .toggle-pause {
            flex: 0 0 auto;
			padding: 0 10px 0 10px;
            text-align: center;
			background-color: $bg-header-footer-outer;
        }

        .current-song {
            flex: 1 1 auto;
			overflow-x: auto;
			overflow-y: hidden;
			white-space: nowrap;
			background-color: $bg-header-footer-inner;
        }

        .skip, .toggle-listen {
            width: 100px;
            text-align: center;
        }

        .skip {
            background-color: $bg-header-footer-outer;
        }
        .skip::before {
            content: "▶▶";
            letter-spacing: -15px;
        }

        .toggle-listen {
			background-color: $bg-header-footer-inner;
        }
    }
}
