.page.library {
    display: flex;
    flex-direction: column;

    .pathbar {
        background-color: #2EFF57;
        font-size: 30px;
        line-height: 36px;

        .part::before {
            content: "▶";
            font-size: 17px;
            opacity: 0.4;
        }

        .part:first-child::before {
            content: "";
        }
    }

    .entries {
        flex: 1 1 auto;
    }

    .controls {
        display: flex;

        .toggle-pause {
            flex: 0 0 auto;
            letter-spacing: -5px;
            width: 1em;
            text-align: center;
        }

        .current-song {
            flex: 1 1 auto;
        }

        .skip, .toggle-listen {
            flex: 0 0 auto;
        }
    }
}