.page.loading {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 48px;
        animation-name: progress;
        animation-direction: alternate;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
}

@keyframes progress {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.25;
    }
}