@import "reset";
@import "glyphicons";

$header-bg: #ff9c00;
$header-bg-alt: #ffc973;
$list-a: #9c6ad6;
$list-b: #89ec6a;

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

body, html, #page {
    height: 100%;
}

#page {
    font-family: sans-serif;

    display: flex;
    flex-flow: column;
    overflow: hidden;

    article {
        flex: 1 1 auto;
    }

    header, footer {
        flex: 0 0 auto;
    }
}

header, footer {
    font-weight: 500;
    font-size: 36px;
}

header {
    background-color: $header-bg;

    .path {
        display: flex;
        margin-right: 14px;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;

        .dir {
            padding: 5px;
            flex: 0 0 auto;
        }

        .dir:nth-child(even) {
            background-color: $header-bg-alt;
        }
    }
}

footer {
    background-color: $header-bg;
    display: flex;

    &>* {
        padding: 10px;
    }

    .state, .skip {
        flex: 0 0 auto;
    }

    .song {
        flex: 1 1 auto;
        background-color: $header-bg-alt;
        text-align: center;
        white-space: nowrap;
    }
}

article {
    font-weight: 400;
    font-size: 30px;
    overflow: auto;

    div {
        background-color: $list-b;
        line-height: 1.3;
        vertical-align: middle;
        border-bottom: 2px solid white;
    }

    div.dir {
        background-color: $list-a;
    }
}
